<li>
	{{name}}

	<button class="eatMe" data-id="{{id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Cooking...{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>